node_modules/
.env
.venv
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
certverify.db
uploads/
backups/
.DS_Store
*.log
.vscode/
.idea/
